{
  "serviceBus": {
    "teamsAlertUrl": "https://prod-13.australiasoutheast.logic.azure.com:443/workflows/f6ad3aeb35f54439837c9e55c97cfa11/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=0N7C5GOUkspR5zV29p-KarjyLWBP_6c_FmziF3q9Nkg",
    "teamsId": "0b99a735-022c-4a8c-ba16-77071886086f",
    "channelId": "19%3A61d0c663629745109e63da082be4a7ae%40thread.tacv2",
    "namespaces": [
      {
        "subscription": "2e88680f-3b2e-45ba-aa63-ffdb2383dbc1",
        "resourceGroup": "rg-dev-spoke-01",
        "namespace": "sb-dev-spoke-01",
        "environment": "dev",
        "thresholds": {
          "minActiveMessageCount": 1,
          "minDeadLetterCount": 1
        }
      },
      {
        "subscription": "7def1dda-42c0-4b8b-961a-ba4bef55c4d2",
        "resourceGroup": "rg-stage-spoke-01",
        "namespace": "sb-stage-spoke-01",
        "environment": "stage",
        "thresholds": {
          "minActiveMessageCount": 1,
          "minDeadLetterCount": 1
        }
      },
      {
        "subscription": "d7455dd1-41a1-4e80-ad4f-567bae76961c",
        "resourceGroup": "rg-prod-spoke-01",
        "namespace": "sb-prod-spoke-01",
        "environment": "prod",
        "thresholds": {
          "minActiveMessageCount": 10,
          "minDeadLetterCount": 1
        },
        "overrides": [
          {
            "queue": "btr-bad-message-queue",
            "thresholds": {
              "minActiveMessageCount": 1
            }
          },
          {
            "queue": "cca-bad-message-queue",
            "thresholds": {
              "minActiveMessageCount": 1
            }
          },
          {
            "queue": "fcl-bad-message-queue",
            "thresholds": {
              "minActiveMessageCount": 1
            }
          },
          {
            "queue": "johnny5-dlq",
            "thresholds": {
              "minActiveMessageCount": 1
            }
          }
        ]
      }
    ]
  }
}
